/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* colors */
  --primary: teal;
  --white: #fdfdfd;
  --black: #030303;

  /* padding/margin */
  --small: 1rem;
  --large: 1.8rem;
}

body {
  font-size: 1.4rem;
  color: var(--primary);
  font-family: monospace;
}

header {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: var(--small);
}
nav {
  text-align: center;
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
  margin: 0 var(--large);
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  padding-bottom: var(--large);
}
main {
  padding: var(--large);
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  padding: var(--large) 0;
}
h2,
h3 {
  padding: var(--small) 0;
}

.main-content p {
  padding-bottom: var(--large);
  text-align: justify;
}

.signature-content {
  font-style: italic;
  padding-bottom: var(--large);
}
footer {
  background-color: var(--black);
  width: 100%;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--large);
}
footer form {
  display: flex;
  flex-direction: column;
}
footer form input {
  margin-bottom: var(--large);
  margin-top: var(--small);
}
button {
  background-color: var(--black);
  color: var(--white);
  width: 60px;
}
footer h2 {
  margin: var(--large) 0;
}

aside {
  display: none;
}

@media screen and (min-width: 900px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  aside {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    text-align: right;
    margin-left: var(--large);
    margin-top: var(--large);
  }
  .main-content {
    width: 50%;
    display: inline-block;
  }
  ul {
    list-style-type: none;
    text-align: right;
  }
  li a {
    color: var(--black);
  }
  footer div {
    width: 800px;
  }
  footer div > * {
    text-align: center;
  }
  footer button {
    width: 100%;
  }
}
